@import './../../node_modules/utils-css/src/utils.css'; 
@import './../../node_modules/utils-css/src/style.css'; 

$selectList_padding: 5px;

@define-mixin selectList-hover {
    &:hover {
        background-color: color( $STYLE_COFFEE_02 blend( $STYLE_COFFEE_03 20% ) );
        color: $STYLE_COFFEE_04;
    }
}

.pkg-selectList {
    @mixin bdr-box-all;
    .pkg-selectList-selected {
        padding: $selectList_padding;
        background-color: $STYLE_COFFEE_02;
        color: $STYLE_COFFEE_04;
    }
    .pkg-selectList-outer {
        position: relative;
        height: 0;
        overflow: visible;
        .pkg-selectList-outer-option {
            display: none;
            position: absolute;
            left: 0;
            top: 0;
            margin: 0;
            padding: 0;
            max-height: 11em;
            overflow-y: auto;
            list-style: none;
            &.pkg-selectList-outer-option_show {
                display: block;
            }
            .pkg-selectList-outer-option-item {
                .pkg-selectList-outer-option-item-label,
                .pkg-selectList-outer-option-item-text {
                    display: block;
                }
                .pkg-selectList-outer-option-item-label {
                    &.pkg-selectList-outer-option-item-label_checkColorDiff { /* check變色 */
                        .pkg-selectList-outer-option-item-input {
                            &:checked {
                                &+.pkg-selectList-outer-option-item-text {
                                    background-color: $STYLE_COFFEE_04;
                                    @mixin selectList-hover;
                                }
                            }
                        }
                    }
                    .pkg-selectList-outer-option-item-text {
                        @mixin hover;
                        @mixin selectList-hover;
                        padding: $selectList_padding;
                        background-color: $STYLE_COFFEE_01;
                        color: $STYLE_COFFEE_03;
                    }
                    .pkg-selectList-outer-option-item-input {
                        display: none;
                    }
                }
            }
        }
    }
}