<template>
    <div class="pkg-selectList">
        <div v-on:click="openOptionSection()" class="pkg-selectList-selected">{{ (selectedItem[showKey])? selectedItem[showKey] : '請選擇' }}</div>
        <div class="pkg-selectList-outer">        
            <ol class="pkg-selectList-outer-option" v-bind:class="{ 'pkg-selectList-outer-option_show' : openOption===true }">
                <li v-for="list in lists" class="pkg-selectList-outer-option-item">
                    <label 
                        class="pkg-selectList-outer-option-item-label"
                        v-bind:class="{ 'pkg-selectList-outer-option-item-label_checkColorDiff' : checkedColorSame!==true }">
                        <input
                            type="radio"
                            name="test2"
                            v-bind:value="list[selectedKey]"
                            v-model="selectedValue"
                            v-on:click="clickItem()"
                            class="pkg-selectList-outer-option-item-input" />
                        <span class="pkg-selectList-outer-option-item-text">{{list[showKey]}}</span>
                    </label>
                </li>
            </ol>
        </div>
    <div>
</template>

<script>
    require('./selectList.css');

    import findItemByKey from 'findItemByKey';

    export default {
        name: 'selectList',
        // props: ['parentComponentId', 'lists','showKey','selectedKey','selectedValue','checkedColorSame'],
        props: {
            parentComponentId: 'String',
            lists: 'Number',
            showKey: 'String',
            selectedKey: 'Number',
            selectedValue: 'Object',
            checkedColorSame: 'Boolean'
        },
        data: function(){
            return {
                openOption: false,
                selectedItem: {}
            };
        },
        ready: function(){
            let _this = this;
            if( (typeof _this.parentComponentId === 'string') && (_this.parentComponentId.trim()!=='') ){
                _this.$on( 'option.opening', function({componentId}){
                    if( componentId===_this.parentComponentId ){
                        _this.openOptionSection();
                    }
                } );
                _this.$on( 'selectedValue.watching', _this.watchSelectedValue );
            }
        },
        methods: {
            closeOptionSection: function(){
                this.openOption = false;
            },
            openOptionSection: function(){
                this.openOption = true;
            },
            clickItem: function(){
                this.closeOptionSection();
                setTimeout(this.changeSelectedItem, 5);
            },
            changeSelectedItem: function(){
                var _data = findItemByKey(this.lists, this.selectedKey, this.selectedValue);
                if( JSON.stringify(this.selectedItem)!==JSON.stringify(_data) ){
                    this.selectedItem = _data;
                }
                this.$emit( 'selectedValue.watching' );
            },
            watchSelectedValue: function(){
                this.$dispatch( 'selectList.selecting', {parentComponentId: this.parentComponentId, data: this.selectedItem} );
            }
        }
    };
</script>